$background-colour: #2d2d2d;

$header-background-colour: lighten($background-colour, 10%);

$flash-notice-background-colour: #dff0d8;
$flash-notice-text-colour: #3c763d;
$flash-notice-border-colour: #d6e9c6;

$body-text-colour: #ffffff;
$body-link-colour: #389df1;
